.explore-page {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.city-img {
    width: 100vw;
    height: 40vh;
    object-fit: cover;
}

.explore-title {
    font-family: BalooBhai-Regular;
    margin-top: 50px;
    font-size: 2.5rem;
    color: #eb8242;
    border-width: 3rem;
    border-color: violet;
    text-align: center;
}


.compose-icon {
    color: #eb8242
}

.compose-dialog {
    height: 80vh;
    overflow: hidden;
    align-self: center;
}

.compose-header {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.compose-author {
    font-family: Montserrat-Medium;
    font-size: 1.5rem;
    margin-left: 10px;
    margin-top: 10px;
    color: #545454;
}

.compose-body {
    padding: 10px;
}

.compose-label{
    font-family: Montserrat-Medium;
}

.compose-input-restaurant-name {
    width: 100% ;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.compose-action-button {
    display: flex;
    flex-direction: row;
}

.compose-photo-icon {
    color: #eb8242
}

.compose-check-icon {
    color: #32e919
}

.compose-cancel-icon {
    color: #e91919
}

.blog-post {
    width: 50vw;
    background-color: #f7f6f8;
    border-radius: 10px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.compose-date {
    color: #545454;
    align-self: flex-start;
    margin-left: auto;
    font-family: Montserrat-Light;
}

.compose-content {
    padding: 20px;
}

.content-item {
    margin-left: 20px;
    font-family: Montserrat-Light;
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: pre-wrap;
    
}

.icon-for-content{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}


.compose-footer {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.love-icon{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-right: 4px;
    margin-bottom: 17px;
}

.love-icon:active{
    padding: 3px;
}

.social-count {
    font-family: Montserrat-Light;
    color: #545454;
}

.comment-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-right: 10px;
    margin-bottom: 17px;
}

.comment-icon:active{
    padding: 3px;
}

.toggle {
    margin-left: 10px;
    margin-bottom: 4px;
}