
/* Map */

.map-container{
    overflow: hidden;
}


/* Window info */

.window-info {
    overflow-y: scroll;
    background: rgb(255,235,155);
    background: linear-gradient(90deg, rgba(255,235,155,1) 0%, rgba(246,218,99,1) 100%);
    height: 100vh;
    margin-right: 0;
}


#compass {
    float: right;
}

.window-info-icon:hover{
    color: #e69563;
}

.input-searchBar-window-info[type=text] {
    width: 80%;   
    box-sizing: border-box;
    border: 2px solid #eb8242;
    border-radius: 4px;
    font-size: 16px;
    color: #f6da63;
    background-color: #eb8242;
    background-image: url('../images/search_icon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    display: flex;
    margin: 5% auto;
  }
  
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #f6da63;}

.window-info-title{
    margin: 10%;
    text-align: center;
    font-size: 1.75rem;
    font-family: BalooBhai-Regular;
    color: #eb8242;
}

.info-box {
    cursor: pointer;
    background-color: #fafafa;
    width: 90%;
    height: auto;
    border-radius: 15px;
    text-align: center;
    margin: auto;
    margin-bottom: 10%;
    padding: 12px 5px 2px;
}

.info-box:hover{
    background-color: #ebdfd7;
}


.info-box-title{
    font-family: BalooBhai-Regular;
    color: #eb8242;
}

.info-name{
    font-family: Montserrat-ExtraBold;
    color: #eb8242;
    margin-bottom: 0;
}


.info-box-content{
    font-family: Montserrat-Light;
    color: #eb8242;
    
}




