h1 {
    font-family: DancingScript-Bold;
    font-size: 9rem;
    display: inline;
    color: #9d0b0b;
}

h2 {
    font-family: DancingScript-Bold;
    font-size: 4.5rem;
    color: #f6da63;
    display: inline;
}

h3 {
    font-family: Montserrat-ExtraBold;
    font-size: 2.25rem;
    color: #f6da63;
    margin-top: 6%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #eb8242;
    opacity: 1; /* Firefox */
  }




/* Register Page */
.register-layout {
    text-align: center;
}


.brand-icon-container {
    margin: auto;
    text-align: center;
}

.brand-icon-register{
    display: block;
    margin-bottom: 3rem;
    font-size: 5rem;
    color: #f6da63;
}

.facebook {
    color: #1a4789;
}

.google {
    color: #da2d2d;
}



  /* Register Info*/
ul {
    align-content: center;
    padding-left: 35%;
}

li{
    font-family: Montserrat-Medium;
    font-size: 1rem;
    color: #f6da63;
    text-align: initial;
    margin-top: 3%;
    
    list-style-image: url(../images/check-icon.png);
}


.input-searchBar[type=text] {
    width: 250px;   
    box-sizing: border-box;
    border: 2px solid #f6da63;
    border-radius: 4px;
    font-size: 16px;
    color: #eb8242;
    background-color: #f6da63;
    background-image: url('../images/gps.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    display: flex;
    margin: auto;
  }
  
.input-searchBar[type=text]:focus {
    width: 70%;
}

.register-info-box {
    margin-top: 5rem;
}


/* Register Box */

.right-page {
    vertical-align: middle;
}

.form-register {
    margin: 60px auto;
    background: #da2d2d;
    padding: 60px 120px 80px 120px;
    -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
    box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
    border-radius: 15px;
}

.form-register-side{
    
}

form{
    text-align: left;
}


.input-register {
    width: 100%;
    padding: 10px;
    padding-top: 0;
    background: transparent;
    border: none;
    outline: none;
    color: #eb8242;

  }
  
.line-box {
    position: relative;
    width: 100%;
    height: 2px;
    background: #eb8242;
  }
  
.line {
    position: absolute;
    width: 0%;
    height: 2px;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    background: #8BC34A;
    transition: ease .6s;
}

.register-label{
    font-family: Montserrat-Medium;
    color: #f6da63;
    margin-top: 10%;
    margin-bottom: 0;
    top: -1.6em;
    padding: 10px;
}

.btn-circle.btn-lg {
    width: 70px;
    height: 70px;
    align-content: center;
    border-radius: 35px;
    font-size: 12px;
    margin-top: 15%;
    text-align: center;
    font-family: Montserrat-Medium;
    color: #da2d2d;
    padding: 0;
}


.sign-in-redirect {
    font-family: Montserat-Bold;
    font-size: 15px;
    margin-top: 10px;
    color: #eb8242;
}