
.restaurant-info-detail-page{
    overflow-x: hidden;
    background-color: #fafafa;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.restaurant-name{
  font-family: BalooBhai-Regular;
  margin-top: 50px;
  font-size: 3rem;
  color: #eb8242;
}

.restaurant-status-icon{
  width: 60px;
  height: 60px;
}

.info-category-title{
  margin: 80px 0 30px 0;
  font-family: Montserrat-Bold;
  color: #eb8242;
}


.info-category{
  margin-top: 30px;
  text-align: center;
}

.info-category p{
  margin-top: 30px;
  font-size: 20px;
  font-family: Montserrat-Medium;
  font-weight: bold;
}

.row-categories{
  vertical-align: middle;
}

.slide-images {
    background-color: #f7e0a3;
    width: 75%;
    height: 75%;
    margin: 30px auto 80px auto;
}

.carousel-item {
    padding-left: 15%;
    padding-right: 15%;
    height: 75vh;
}


.info-navbar {
  background: rgb(235,130,66);
  background: linear-gradient(90deg, rgba(235,130,66,1) -37%, rgba(246,218,99,1) 100%);
}

.navbar-icon {
  position: absolute;
  right: 5%;

}

.price_level_icon{
  font-family: BalooBhai-Regular;
  margin: 50px 0 30px 0;
  font-size: 3rem;
  color: #eb8242;
}

#phone-number{
  font-weight: lighter;
}

#address{
  font-weight: lighter;
  margin: 0 20px 0 20px;
}

.review-card {
  padding-left: 300px;
  padding-right: 300px;
  margin-bottom: 100px;
  text-align: center;
  flex-direction: row;
  align-items: stretch;
}

.user-review-avatar{
  width: 80px;
  height: 80px;
}

.review-box{
  background-color: #d9d9d9;
  border-radius: 20px;
  text-align: left;
}

#review-author {
  margin-top: 5px;
  font-style: italic;
  font-family: Montserrat-Light;
}

#review-content {
  font-family: Montserrat-Medium;
  font-weight: normal;
}