
.user-info-page{
    display: flex;
    align-items: center;
    flex-direction: column;

}

.user-info-card-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.user-info-card{
    width: 60vw;
    margin: 100px 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
}




.user-info-card-text-container{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.user-info-card-text{
    font-family: Montserrat-Medium;
    color: #545454;
    margin-bottom: 0;
    margin-top: 0;
}

#edit-user-icon{
    margin-top: 5px;
    margin-left: 10px;
    
}

.avatar-image:hover{
    filter: brightness(50%);
}

.user-name-info {
    font-size: 2rem;
}

.jumbotron-container {
    width: 60vw;
}

.link {
    color: cornflowerblue;
}